<!-- <h2>{{ book?.title }}</h2>

@if(book) {
  <p>{{ book.description }}</p>
} -->

<!--
  bis einschließlich Angular 16 *ngIf *ngFor *ngSwitch
  `ng generate @angular/core:control-flow` zur Migration
-->


<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end" alt="" src="https://api.angular.schule/avatar/{{ book().rating }}">
    <div class="card-title">
      <h2 [ngClass]="{ 'text-success': tollesBuch() }">
        {{ book().title }}
        <span class="badge bg-secondary">{{ book().rating }}</span>
      </h2>
    </div>
    <p>{{ book().description }}</p>

    <button [disabled]="book().rating < 2" (click)="doRateDown()" class="btn btn-primary me-2">-1</button>
    <button [disabled]="book().rating > 4" (click)="doRateUp()" class="btn btn-primary me-2">+1</button>
  </div>
</div>

{{ log() }}
